---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
// @import "minima"
//

/* new styles */

.text-centered {
    text-align: center;
}

.text-white {
    color: white !important;
}

/* old styles */

#main-image {
    max-height: 128px;
}

.portfolio-image {
    max-width: 25%;
    margin: 1em;
}

@media(min-width: 480px) {
    #jumbotron h2 {
        font-size: 4em !important;
    }
    #jumbotron h3 {
        font-size: 2em !important;
    }
}

.clickable {
    cursor: pointer;
}

.img-padding {
    padding: 4px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height + some padding */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

    text-align: center;
}

.container p {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    padding: 15px;
    padding-left: 15px;
}

.navbar .navbar-nav {
  // display: inline-block;
  // float: none;
  // vertical-align: top;
}

.navbar .navbar-collapse {
  // text-align: right;
  padding-right: 15px;
}

.title {
    text-align: center;
    padding: 0px;
    margin-bottom: 2em;
}

.centered {
    text-align: center;
}

#backdrop {
    background: url('/img/pforzheimer-house.jpg');
    min-height: 400px;
}

.featured {

  max-width: 100%;
  max-height: 100%;
}
