#chartViz{
    margin: auto;
    width: 80%;
    height: 60%;
}

.header {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

#source{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#window {  
    display: block;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto; 
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: auto;
   width: 80%; 
  }

table th {
    text-align: center; 
 }