<footer class="page-footer footer" style="background-color: #ffffff;">
  <hr style="border-top: 2px solid black;"/>
  <div class="container-fluid landing" >
    <div style="float: left; padding: 0em 0em 0.5em 0em !important; text-align: center;">
      <p class="text-muted">
          Copyright &copy; 2015—<script>document.write(new Date().getFullYear())</script> the Harvard College Open Data Project.
      </p>
    </div>
    <div style="float: right; padding: 0em 0em 0.5em 0em !important; text-align: center;">
      <a href="https://www.facebook.com/HarvardODP/" target="_blank" class="social-icon fa fa-facebook"></a>
      <a href="https://github.com/HarvardOpenData" target="_blank" class="social-icon fa fa-github"></a>
      <a href="mailto:harvardopendataproject@gmail.com" class="social-icon fa fa-envelope"></a>
    </div>
  </div>
</div>
