<!--
  Person Card template
  the variable `person` from `site.data.people`
  and the variable `role` from `site.data.people` should exist
-->
<div class="media col-sm-6" style="padding: 0.5em; margin: 0em;">
  <div style="padding: 1em; background-color: #eeeeee; border-radius: 5px;">
    <div class="media-left">
      <a href=
        "{% if member.member_id %}
            /member/{{ member.member_id }}
          {% endif %}
        "
      >
          <img src="{{ member.img_url if member.img_url != None and member.img_url != '' else '/static/img/people/generic.jpg'}}" class="media-object img-circle" alt="{{ member.full_name }}" style="width: 64px;" />
      </a>
    </div>
    <div class="media-body">
      {% if member.house %}
        <h6 style="margin: 0em 0em 0em 0em;">{{ role.title.upper() }}, {{ member.house }} {{ member.year }}</h6>
      {% else %}
        <h6 style="margin: 0em 0em 0em 0em;">{{ role.title.upper() }}</h6>
      {% endif %}
      <h4 class="media-heading" style="margin-top: 0em;">{{ member.full_name }}</h4>
      {% if member.description %}
        {{ member.description }}
      {% endif %}
    </div>
  </div>
</div>
