<!--
  Person Card template
  the variable `person` from `site.data.people`
  and the variable `role` from `site.data.people` should exist
-->
<div class="media col-sm-6" style="padding: 0.5em; margin: 0em;">
  <div style="padding: 1em; background-color: #eeeeee;">
    <div class="media-left">
      <a href="{{ person.url }}">
        {% if person.image %}
            <img src="/static/img/people/{{ person.image }}" class="rounded-circle" alt="{{ person.name }}" style="width: 64px;" />
        {% else %}
            <img src="/static/img/people/generic.jpg" class="rounded-circle" alt="{{ person.name }}" style="width: 64px;" />
        {% endif %}
      </a>
    </div>
    <div class="media-body">
      {% if person.house %}
        <h6 style="margin: 0em 0em 0em 0em;">{{ role.title.upper() }}, {{ person.house }} {{ person.year }}</h6>
      {% else %}
        <h6 style="margin: 0em 0em 0em 0em;">{{ role.title.upper() }}</h6>
      {% endif %}
      <h4 class="media-heading" style="margin-top: 0em;">{{ person.name }}</h4>
      {{ person.bio }}
    </div>
  </div>
</div>
