# Mac files
.DS_Store

# Dependency directories
node_modules/

# lerna files
/lerna-debug.log

# build files
public/

# package-lock.json
web/package-lock.json
studio/package-lock.json

# Ignore hidden files as default
.*

# Keep .gitignore
!.gitignore