---
title: About
layout: default
permalink: /about/
---

<h1 class="page-title centered">About the Harvard Open Data Project</h1>

<div class="well lead">
    {{ site.description }}
</div>

<!--
<p>We've teamed up with the former deputy CTO of the US, Nick Sinai, Harvard's CTO, Jim Waldo, and Harvard's Chief Digital Officer, Perry Hewitt, to build Harvard's first open data catalog​. We're empowering Harvard students to hack with Harvard data including admissions data, course catalogs, dhall menus, and university finances.​</p>

<p>Our main work includes:</p>

<ul>
    <li>Gathering open data from around the Harvard community</li>
    <li>Analyzing and visualizing the data, or building applications around it</li>
    <li>Using these results to drive policy changes around Harvard</li>
    <li>Empowering Harvard students to also hack with this data to improve student life or the University</li>
</ul>

<p>As we expand, we're looking for people with a passion for anything from data science to public policy. Join our team to ​build our web frontend and data analysis tools, create visualizations and apps with Harvard data, work closely with our mentors in the civic tech space, and craft university-wide open data policies.</p>

Interested in getting involved? <a href="https://github.com/Harvard-Open-Data-Project/hodp/issues">Join the discussion</a> or email neelmehta@college.harvard.edu.</p>

<a href="https://dataverse.harvard.edu/dataverse/harvardopendata" class="btn btn-primary btn-block">See our datasets</a>


<h2>Background</h2>

<h3>What We Do</h3>

<p>There has been a large movement toward open data in government (e.g. <a href="https://data.gov">Data.gov</a>) and in other universities (e.g. <a href="http://yoda.yale.edu/">Yale's Open Data Access Project</a>). The Harvard administration has been working on an open data portal of our own for nearly two years, and by finally bringing together all the necessary people we are making this a reality.</p>

<h3>Mission Statement</h3>

<p>The goal of the Harvard Open Data Project (HODP) is to leverage open data to foster community, efficiency, and student innovation. Making data public and easily accessible allows us all to unlock its potential. Data-driven progress unites people, organizations, and departments as we all try to make daily life better. Aggregating, maintaining, and publicizing open data has and will continue to be a global trend and we want Harvard to be at its forefront. Our goal is to give that progress a home with centralization of available data, integration with existing systems, and showcases of data-inspired products.</p>

<p>Students from across the University are spearheading a project to build Harvard's first open data portal, which will empower Harvard students and researchers to discover and hack with University data like financial data, enrollment stats, course catalogs, and more.</p> -->


<h2 class="centered">People</h2>

<div class="row">
    <!-- empty media element prevents rules for media:first-child from messing up first person -->
    <div class="media"></div>

    {% for person in  site.data.people %}
    <div class="media col-md-4">
      <div class="media-left">
        <a href="{{ person.url }}">
          {% if person.image %}
              <img src="/img/people/{{ person.image }}" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
          {% else %}
              <img src="/img/people/generic.jpg" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
          {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ person.name }}</h4>
        {{ person.role }}
      </div>
    </div>

    <!-- <div class="col-xs-3 text-centered">
        {% if person.image %}
            <img src="/img/people/{{ person.image }}" class="img-responsive img-circle" />
        {% else %}
            <img src="/img/people/generic.jpg" class="img-responsive img-circle" />
        {% endif %}
        <strong>{{ person.name }}</strong>, {{ person.role }}
    </div> -->
    {% endfor %}
</div>


<h2 class="centered">Partners</h2>

We are proud partners with <a href="http://codingitforward.com/">Coding it Forward</a>, a community of people using technology for social good. Like Coding it Forward (another Harvard creation), we're passionate about using the tools of technology to increase government transparency, improve citizens' lives, and unlock innovation using data.
