---
title: About
layout: default
permalink: /about/
---

<h1 class="page-title centered">About the Harvard Open Data Project</h1>

<div class="well lead">
    {{ site.description }}
</div>



<div class="row">
  <div class="col-sm-6 well lead">
      We're dedicated to opening and analyzing Harvard data to empower our community members to improve campus life.
  </div>

  <div class="col-sm-6">
    <h4>Join the Harvard Open Data Project!</h4>
        <ul>
            <li>
                Attend our weekly open hack nights on Thursdays from 8:30-10pm. <a href="https://groups.google.com/forum/#!forum/harvard-open-data">Join our mailing list</a> for details!
            </li>
            <li>
                <a href="https://medium.com/harvard-open-data-project">Read our blog</a> and submit articles.
            </li>
        </ul>

        Want to learn more? Email Neel Mehta at neelmehta [at] college [dot] harvard [dot] edu.

  </div>
</div>

<br /><br />


<h2 class="page-header centered">What we do</h2>

<div class="row">
  <div class="col-md-4">
    <h3>Creating Harvard's first open data catalog</h3>

    <p>

      In the vein of <a href="https://data.gov">data.gov</a>, we're <a href="/catalog">gathering and publishing all of Harvard's public datasets in one place</a>. With this, we promote transparency and help
      students engage better with the university.
    </p>

    <!-- <h4>Featured datasets</h4>
    <ul>
        {% for dataset in site.data.datasets %}
        <li><a href="{{ dataset.url }}">{{ dataset.name }}</a></li>
        {% endfor %}
    </ul> -->

    <a href="/catalog" class="btn btn-primary btn-block">View the whole open data catalog</a>
  </div>

  <div class="col-md-4">
    <h3>Creating data-driven policy with Harvard staff</h3>

    <p>
      We're working with <a href="https://medium.com/harvard-open-data-project/crime-and-risk-using-open-data-to-make-a-safer-community-49410a57e232">Harvard's police department</a> and <a href="https://medium.com/harvard-open-data-project/fooducation-food-waste-project-kick-off-d6b04fa4d070">dining services</a> to open and analyze their datasets. Our analyses will lead to real policy changes and greater student-staff interaction than we've ever seen.
    </p>

    <a href="https://medium.com/harvard-open-data-project" class="btn btn-primary btn-block">Read about our policy projects</a>
  </div>

  <div class="col-md-4">
    <h3>Data science to understand our university</h3>
    <p>
      You might have heard of us when we <a href="https://medium.com/harvard-open-data-project/sixteenthirtysix-our-analysis-4c395d933198#.h5cuo2mlt">correctly predicted the outcome of the Harvard student government presidential election</a> using surveys
      and social media analysis. Now we're turning toward understanding Harvard academics, social life, and finances by analyzing public Harvard data. Stay tuned!
    </p>

    <a href="https://medium.com/harvard-open-data-project" class="btn btn-primary btn-block">Read our analyses</a>
  </div>
</div>


<h2 class="page-header centered">Get involved</h2>

<div class="row">
  <div class="col-sm-6">
    We have weekly <strong>open hack nights on Thursdays from 8:30-10pm</strong>. Come to help us hack on our open data catalog, policy projects, or analyses; learn about data science and quantitative social science; and meet the rest of the community!
  </div>
  <div class="col-sm-6">
    We often attend <strong>hackathons around the Boston area</strong> to knock out award-winning projects in a weekend. <a href="https://groups.google.com/forum/#!forum/harvard-open-data">Join our mailing list</a> to learn more!
  </div>
</div>


<p>
  <a href="https://groups.google.com/forum/#!forum/harvard-open-data" class="btn btn-lg btn-primary btn-block">Join our mailing list to get invited to these events!</a>
</p>


<h2 class="centered page-title">Current projects</h2>

We're working on some really exciting data analysis projects this semester, including:

<ul>
    <li>
        Analyzing low turnout in Harvard's student government elections
    </li>
    <li>
        Finding trends in the popularity of the various majors over time
    </li>
    <li>
        Determining the true amount of diversity among Harvard faculty, staff, and students
    </li>
    <li>
        Determing the most popular general education courses
    </li>
</ul>

<p>
    <a href="https://docs.google.com/a/college.harvard.edu/document/d/1H0uhD15fgpPnE-AdnFZNhwVGC-DzF654ur0YMqE4zIQ/edit?usp=sharing">Check out the full list of projects here (Harvard students only.)</a>
</p>
<p>
    <strong>Interested in getting your data analysis work published?</strong> Submit an article about a project like these to our blog on Medium. <a href="https://docs.google.com/a/college.harvard.edu/document/d/1WzvMBYR6Ycdl43P5iKqVVe4Jt7Xfgrgs8KbVBdryCdk/edit?usp=sharing">Here's how you can get published (Harvard students only.)</a> <strong>Submissions due 3/10/17!</strong>
</p>

<!-- <h2>Example visualizations</h2>

{% for entry in site.data.visualizations %}
    <div class="row">
        <div class="col-xs-6">
            <img src="img/{{ entry.img }}" class="img img-responsive" />
        </div>
        <div class="col-xs-6">
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.description }}</p>
            <a href="{{ entry.source}}">Source</a>
        </div>
    </div>

    <hr>
{% endfor %} -->

<!--
<h3>Comments?</h3>
<p>
    We'd love to have your feedback/comments on our <a target="_blank" href="https://github.com/Harvard-Open-Data-Project/hodp/issues">GitHub Issues page</a>.
</p> -->


<!--
<p>We've teamed up with the former deputy CTO of the US, Nick Sinai, Harvard's CTO, Jim Waldo, and Harvard's Chief Digital Officer, Perry Hewitt, to build Harvard's first open data catalog​. We're empowering Harvard students to hack with Harvard data including admissions data, course catalogs, dhall menus, and university finances.​</p>

<p>Our main work includes:</p>

<ul>
    <li>Gathering open data from around the Harvard community</li>
    <li>Analyzing and visualizing the data, or building applications around it</li>
    <li>Using these results to drive policy changes around Harvard</li>
    <li>Empowering Harvard students to also hack with this data to improve student life or the University</li>
</ul>

<p>As we expand, we're looking for people with a passion for anything from data science to public policy. Join our team to ​build our web frontend and data analysis tools, create visualizations and apps with Harvard data, work closely with our mentors in the civic tech space, and craft university-wide open data policies.</p>

Interested in getting involved? <a href="https://github.com/Harvard-Open-Data-Project/hodp/issues">Join the discussion</a> or email neelmehta@college.harvard.edu.</p>

<a href="https://dataverse.harvard.edu/dataverse/harvardopendata" class="btn btn-primary btn-block">See our datasets</a>


<h2>Background</h2>

<h3>What We Do</h3>

<p>There has been a large movement toward open data in government (e.g. <a href="https://data.gov">Data.gov</a>) and in other universities (e.g. <a href="http://yoda.yale.edu/">Yale's Open Data Access Project</a>). The Harvard administration has been working on an open data portal of our own for nearly two years, and by finally bringing together all the necessary people we are making this a reality.</p>

<h3>Mission Statement</h3>

<p>The goal of the Harvard Open Data Project (HODP) is to leverage open data to foster community, efficiency, and student innovation. Making data public and easily accessible allows us all to unlock its potential. Data-driven progress unites people, organizations, and departments as we all try to make daily life better. Aggregating, maintaining, and publicizing open data has and will continue to be a global trend and we want Harvard to be at its forefront. Our goal is to give that progress a home with centralization of available data, integration with existing systems, and showcases of data-inspired products.</p>

<p>Students from across the University are spearheading a project to build Harvard's first open data portal, which will empower Harvard students and researchers to discover and hack with University data like financial data, enrollment stats, course catalogs, and more.</p> -->


<h2 class="centered">People</h2>

<div class="row">
    <!-- empty media element prevents rules for media:first-child from messing up first person -->
    <div class="media"></div>

    {% for person in  site.data.people %}
    <div class="media col-md-4">
      <div class="media-left">
        <a href="{{ person.url }}">
          {% if person.image %}
              <img src="/img/people/{{ person.image }}" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
          {% else %}
              <img src="/img/people/generic.jpg" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
          {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ person.name }}</h4>
        {{ person.role }}
      </div>
    </div>

    <!-- <div class="col-xs-3 text-centered">
        {% if person.image %}
            <img src="/img/people/{{ person.image }}" class="img-responsive img-circle" />
        {% else %}
            <img src="/img/people/generic.jpg" class="img-responsive img-circle" />
        {% endif %}
        <strong>{{ person.name }}</strong>, {{ person.role }}
    </div> -->
    {% endfor %}
</div>


<h2 class="centered">Partners</h2>

We are proud partners with <a href="http://codingitforward.com/">Coding it Forward</a>, a community of people using technology for social good. Like Coding it Forward (another Harvard creation), we're passionate about using the tools of technology to increase government transparency, improve citizens' lives, and unlock innovation using data.
