---
layout: default
---

<div class="well">
    <h3>We're a student-faculty team dedicated to opening and analyzing Harvard data to empower our community members to improve campus life.</h3>
</div>

<p>We've teamed up with the former deputy CTO of the US, Harvard's CTO, and Harvard's Chief Digital Officer to build Harvard's first open data catalog​. We're empowering Harvard students to hack with Harvard data including admissions data, course catalogs, dhall menus, and university finances.​</p>

<p>Our main work includes:</p>

<ul>
    <li>Gathering open data from around the Harvard community</li>
    <li>Analyzing and visualizing the data, or building applications around it</li>
    <li>Using these results to drive policy changes around Harvard</li>
    <li>Empowering Harvard students to also hack with this data to improve student life or the University</li>
</ul>

<p>As we expand, we're looking for people with a passion for anything from data science to public policy. Join our team to ​build our web frontend and data analysis tools, create visualizations and apps with Harvard data, work closely with our mentors in the civic tech space, and craft university-wide open data policies.</p>

<a href="https://dataverse.harvard.edu/dataverse/harvardopendata" class="btn btn-primary btn-block">See our datasets</a>




<h2>Example visualizations</h2>

{% for entry in site.data.visualizations %}
    <div class="row">
        <div class="col-xs-6">
            <img src="img/{{ entry.img }}" class="img img-responsive" />
        </div>
        <div class="col-xs-6">
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.description }}</p>
            <a href="{{ entry.source}}">Source</a>
        </div>
    </div>

    <hr>
{% endfor %}


<h2>Featured Datasets</h2>

<ul>
    {% for dataset in site.data.datasets %}
    <li>
        <a href="{{ dataset.url }}"><strong>{{ dataset.name}}</strong></a>:
        {{ dataset.description }}
    </li>
    {% endfor %}
</ul>

<a href="https://dataverse.harvard.edu/dataverse/harvardopendata" class="btn btn-primary btn-block">View all datasets</a>

<h2>Get involved</h2>

<p><a href="https://groups.google.com/forum/#!forum/harvard-open-data">Join our mailing list</a>, or email Neel Mehta at neelmehta [at] college [dot] harvard [dot] edu.</p>

