{% extends 'default.html' %}

{% block content %}
<div class="container">
    <h1 class="page-header centered">Get Involved With HODP!</h1>

    <div class="row">
      <div class="col-md-12">
        <p>
          Check out the various ways to get involved with the Harvard Open Data Project. 
        </p>
      </div>
    </div>

      <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="name">Comp HODP!</label>
              Click <a href="linktocompprocessgoogleform">here</a> for more info about becoming a member of HODP!
        </div>


    <div class="row">
      <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="name">Submit a Dataset</label>
              Have a dataset you'd like for us to include on our website? Click <a href="http://hodp-website.appspot.com/submit/"> here</a>
        </div>

      <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="name">Survey</label>
              Take a <a href="linktosurvey"> survey </a> on how HODP could be doing better.
        </div>

      <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="name">What Should We Do Next?</label>
              Do you have any ideas about what projects HODP should tackle next? <a href="linktowhatshouldwedonext"> We want to hear them!</a>
        </div>

            </div>
          </div>
      </div>
    </div>

</div>
{% endblock %}

