Flask>=1.0.2
firebase-admin>=2.16.0
PyYAML>=5.1.2
grpcio>=1.20.1
google-cloud-firestore>=0.32.1
google-api-core>=1.9.0
google-api-python-client>=1.7.9
google-auth>=1.6.3
google-auth-httplib2>=0.0.3
Werkzeug>=0.12.0
mock-firestore>=0.2.0
