@font-face {
  font-family: "Post Grotesk";
  font-weight: 400;
  src: url("../assets/fonts/Post Grotesk Light.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Light Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 500;
  src: url("../assets/fonts/Post Grotesk Medium.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 500;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Medium Italic.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 700;
  src: url("../assets/fonts/Post Grotesk Bold.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Bold Italic.otf") format("opentype");
}

html {
  background: white;
}

h1, h2, h3, h4, strong, b {
  font-weight: 700;
}

p a, li a, .blockquote a {
  font-weight: 700;
  color: #C63F3F;
  text-decoration: none;
  cursor: pointer !important;
}

p a:hover, li a:hover, .blockquote a:hover {
  color: #760000;
  cursor: pointer !important;
}

li {
  font-size: 19px;
  line-height: 1.55;
}

.preview p {
  line-height: 1.2 !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.small p {
  font-size: 16px !important;
}

.very-small {
  margin-top: 0px !important;
  font-size: 12px !important;
  margin-bottom: 10px !important;
}

button {
  font-family: "Post Grotesk" !important;
  margin-right: 0.5em !important;
}

.theme-background {
  background: url(../assets/network-background.png) no-repeat center center fixed;
  border: 16px solid #F8F8F8;
  min-width: 100vw;
  min-height: 80vh;
}

#bio {
  max-width: 500px;
}

.default-profile {
  width: 100%;
  height: auto;
  max-width: 500px;
  font-size: 0;
}

.default-profile:hover{
  outline: #C63F3F solid 3px;
  font-size: 0;
}

.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
  }
}

.profile-name {
  margin-top: 15px !important;
  margin-bottom: 5px !important;
}

.profile-title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.close-button {
  float: right !important;
}

.modal-bio {
  margin-right: 20px !important;
}
