/* @import url(//db.onlinewebfonts.com/c/83993a85c0bf74b99d58a96f8e96208c?family=Post+Grotesk+Light); */
/* @import url(//db.onlinewebfonts.com/c/13a1076b1b32d14d28f72760640fbe08?family=Post+Grotesk); */
@import url(//db.onlinewebfonts.com/c/d578a0d6bd5c4c293d35bbc8ef736139?family=Post+Grotesk+Medium);

@font-face {
  font-family: "Post Grotesk";
  font-weight: 400;
  src: url("../assets/fonts/Post Grotesk Light.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Light Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 500;
  src: url("../assets/fonts/Post Grotesk Medium.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 500;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Medium Italic.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 700;
  src: url("../assets/fonts/Post Grotesk Bold.otf") format("opentype");
}

@font-face {
  font-family: "Post Grotesk";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/Post Grotesk Bold Italic.otf") format("opentype");
}

html {
  background: white;
}

h1, h2, h3, h4, strong, b {
  font-weight: 700;
}

p a, li a, .blockquote a {
  font-weight: 700;
  color: #C63F3F;
  text-decoration: none;
  cursor: pointer !important;
}

p a:hover, li a:hover, .blockquote a:hover {
  color: #760000;
  cursor: pointer !important;
}

li {
  font-size: 19px;
  line-height: 1.55;
}

.preview p {
  line-height: normal !important;
}

.small p {
  font-size: 15px !important;
}

button {
  font-family: "Post Grotesk" !important;
  margin-right: 0.5em !important;
}