@import url(//db.onlinewebfonts.com/c/83993a85c0bf74b99d58a96f8e96208c?family=Post+Grotesk+Light);
@import url(//db.onlinewebfonts.com/c/13a1076b1b32d14d28f72760640fbe08?family=Post+Grotesk);
@import url(//db.onlinewebfonts.com/c/d578a0d6bd5c4c293d35bbc8ef736139?family=Post+Grotesk+Medium);

html {
  background: white;
}

h1, h2, h3, h4, strong, b {
  font-family: "Post Grotesk" !important;
  font-weight: 700;
}

p > a {
  font-family: "Post Grotesk";
  font-weight: 700;
  color: #C63F3F;
  text-decoration: none;
}

p > a:hover {
  color: #760000;
}
