<div class="jumbotron clearfix" id="jumbotron" ng-controller="AboutCtrl">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <img id="main-image" class="img-responsive" src="images/elephant.png">
            <br>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 text-center">
            <h2>hathix.com</h2>
            <h3 id="slogan" class="clickable">
                <span class="text-muted" ng-bind="slogan" ng-click="changeSlogan()">
                    think inside the box
                </span>
            </h3>
        </div>
    </div>
</div>
