---
layout: default
title: About Neel Mehta
permalink: about.html
---

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <img src="images/about/neel-mehta.jpg" class="img-responsive img-thumbnail img-circle">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <p class="lead">
            Random stuff about me and hathix.com.
        </p>
        <p>
            Neel. Harvard College Class of 2018. Native Philadelphian.
            Web developer. Baseball fan. Pun lover.
            Sometime philosopher. Politics junkie.
        </p>
    </div>
</div>

<h2>Resume</h2>
<p>
    In case you're interested.
</p>
<a href="{{site.data.about.resume}}" class="btn btn-default">
    Neel Mehta's Resume
</a>

<!--
<h2>Favorites</h2>

<div class="row">
    {% for fave in site.data.about.favorites %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <strong>{{fave.type}}</strong>: {{fave.value}}
        </div>
    {% endfor %}
</div>
-->

<h2>(In)frequently Asked Questions</h2>
<p class="lead">Questions I wish people would ask me more.</p>
{% for faq in site.data.about.faq %}
    <p>
        <strong>{{faq.question | markdownify}}</strong>
        {{faq.answer | markdownify }}
    </p>
{% endfor %}
