---
layout: default
title: Portfolio
permalink: portfolio.html
scripts:
    - scripts/portfolio.js
    - //cdn.jsdelivr.net/jquery.gray/1.4.1/jquery.gray.min.js
styles:
    - css/gray.min.css
---

<div ng-controller="PortfolioCtrl">
    <p class="lead">
        I'm interested in all types of computer science, but my specialty
        is full-stack web development. Check out some of my projects below,
        or see a more extensive list on <a href="https://github.com/hathix">GitHub</a>.
    </p>

    <div class="row well">
        <h3>Filter projects by technology:</h3>
        {% for tech in site.data.technologies %}
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                <img src="images/technologies/{{tech.name | downcase}}.png"
                    class="img-responsive grayscale clickable img-padding"
                    ng-class="{ 'grayscale-off': isFilterActive('{{tech.name}}')}"
                    ng-click="toggleFilter('{{tech.name}}')"
                    title="{{tech.name}}" data-toggle="tooltip">
            </div>
        {% endfor %}
    </div>

    <br>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h4>[[{ getFilterText() }]]</h4>
            <ul class="nav nav-pills nav-stacked" id="project-list">
                {% for project in site.data.projects %}
                    <li ng-click="showProject('{{project.name}}')"
                        ng-class="{'active': isProjectActive('{{project.name}}')}"
                        {% if forloop.index0 == 0 %}
                            ng-init="showProject('{{project.name}}')"
                        {% endif %}
                        ng-hide="!shouldShowProject('{{project.technologies | join: '|'}}')"
                        data-project-name="{{project.name}}"
                        >
                        <a href>{{project.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="tab-content">
                {% for project in site.data.projects %}
                    <div role="tabpanel" class="tab-pane"
                        ng-class="{'active': isProjectActive('{{project.name}}')}"
                        >
                        <div>
                            <h2>{{project.name}}</h2>
                            <h3 class="text-muted">{{project.description}}</h3>
                        </div>

                        {% if project.image %}
                            <img src="images/projects/{{project.image}}" class="portfolio-image pull-left">
                        {% endif %}

                        <ul class="list-unstyled lead">
                            {% for link in project.links %}
                                <li>
                                    <a href="{{link.url}}">
                                        <span class="fa fa-fw fa-{{link.icon}}"></span>
                                        {{link.name}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <p class="lead clearfix">
                            {{project.blurb}}
                        </p>

                        <div class="row">
                            {% for tech in project.technologies reversed %}
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 pull-right">
                                    <img src="images/technologies/{{tech | downcase}}.png"
                                    class="img-responsive"
                                    title="{{tech}}" data-toggle="tooltip">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
