#main-image {
    max-height: 128px;
}

.portfolio-image {
    max-width: 25%;
    margin: 1em;
}

@media(min-width: 480px) {
    #jumbotron h2 {
        font-size: 4em !important;
    }
    #jumbotron h3 {
        font-size: 2em !important;
    }
}

.clickable {
    cursor: pointer;
}

.img-padding {
    padding: 4px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height + some padding */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container p {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
