<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
      {% if page.title %} {{ page.title }} | {% endif %}{{site.title}}
  </title>
  <meta name="description" content="{{ site.description }}">
  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}"> -->

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootswatch/bootstrap.min.css">

  <!-- TODO  get a custom embed code -->
  <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Custom styles for each page -->
  {% for style in page.styles %}
      <link rel="stylesheet" href="{{style}}">
  {% endfor %}

  <link rel="icon" type="image/png" href="/img/squarelogo.png">
</head>
