<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/{{ site.bootstrap_version }}/js/bootstrap.min.js"></script>

<!-- Angular controllers used by all pages -->
<script src="scripts/main.js"></script>
<script src="scripts/about.js"></script>

<!-- Custom scripts for each page -->
{% for script in page.scripts %}
<script src="{{script}}"></script>
{% endfor %}

<!-- Piwik tracking -->
<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u="//hathix.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//hathix.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
