#map {
  height: 100%;
  width: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.UserOptions {
  display: none;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 30px;
}

#mapHeader {
  padding-left: 20px;
}
