.end-button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    transition-duration: 0.4s;
    border-radius: 4px;
    margin: 1rem;
    padding: 10px 10px;
    display: inline-block;
}

.end-button:hover {
    background-color: #d3d3d3;
}