#backdrop {
  background-image: url("/static/img/backgrounds/widener.jpg");
  background-position: 50% 40%;
  min-height: 500px; }

@media (min-width: 1200px) {
  #landing {
    width: 1100px;
  }

  nav.navbar {
    margin-top: 2em !important;
    margin-bottom: 2em !important; }
}
