#backdrop {
  background-image: url("/static/img/backgrounds/widener.jpg");
  background-position: 50% 40%;
  min-height: 500px; }

#features {
  padding: 1em;
}

.article-container {
  padding: 0.5em;
  margin: 0em;
}

.article-container a {
  text-decoration: none !important;
}

.article-info {
  background-color: #E9E9E9;
  margin-top: 0em;
  padding: 1.2em;
  vertical-align: middle;
}

.article-tags {
  margin-top: 0px;
  margin-bottom: 5px;
}

.article-headline {
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-author {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #717171;
}

.article {
  border: 2px solid transparent;
  transition: color 0.5s ease-in; /* vendorless fallback */
  -o-transition: color 0.5s ease-in; /* opera */
  -ms-transition: color 0.5s ease-in; /* IE 10 */
  -moz-transition: color 0.5s ease-in; /* Firefox */
  -webkit-transition: color 0.5s ease-in; /*safari and chrome */
}

.article:hover {
  border: 2px solid grey;
  /* box-shadow: 1px 1px 1px grey; */
}

@media (min-width: 1200px) {
  .landing {
    width: 1200px;
  }

  .nav .navbar {
    margin-top: 2em !important;
    margin-bottom: 2em !important; }
}

@media (max-width: 1200px) {
  .landing {
    padding: 0em 2em;
  }

  .nav .navbar {
    margin-top: 2em !important;
    margin-bottom: 2em !important; }
}

@media (max-width: 780px) {
  #about {
    padding: 0.5em !important;
  }
  .article-container {
    padding: 0em 0em 1em 0em !important;
  }
  .landing {
    padding: 0em 1em;
  }
}
