/* Typography / color style guide */
h1,
h2,
.h1,
.h2 {
  font-family: "Helvetica Neue", "Open Sans", "Avenir Next", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

h3,
h4,
h5,
.h3,
.h4,
.h5 {
  font-family: "Helvetica Neue", "Open Sans", "Avenir Next", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #000000;
}

h6,
.h6 {
  font-family: "Akkurat-Mono", "Inconsolata", "Consolas", "Monaco", monospace;
  font-weight: 400;
  line-height: 1.1;
  color: #717171;
}

body {
  font-family: "Franklin Gothic", "Kohinoor Bangla", "Open Sans", "Avenir Next",
    sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
}

a {
  color: #ee3838;
  text-decoration: none;
  background-color: none;
}

.panel-body > * {
  padding: 0px;
  margin: 0.2em;
}

.label-info {
  background-color: #4b5973;
}

/* Navigation */
.navbar .active a,
.navbar-nav .active a {
  color: #ee3838;
  text-decoration: none;
  background-color: #ffffff;
}

.nav > li > a {
  position: relative;
  padding: 15px 15px 0px 1px !important;
  color: black;
}

.dropbtn {
  background-color: #ffffff !important;
}

.dropdown-item {
  color: black;
  text-decoration: none !important;
}

.dropdown-item:hover,
.active {
  color: #ee3838;
  text-decoration: none !important;
}

.dropdown-menu {
  margin-top: 0.5em !important;
  padding: 0.7em;
}

.navbar-nav > li > a:hover,
.open > a:focus,
.dropdown > li > a:hover {
  background-color: #ffffff !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .navbar-nav > li > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1em;
  }
  .nav > li > a {
    position: relative;
    padding: 15px 15px 0px 1px !important;
    color: black;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1em;
    background-color: #ffffff;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: none;
  }
}

/* Social media icon styles */
.social-icon {
  padding: 0.5em;
  font-size: 1.1em;
  background: white;
  border: 1px solid black;
  color: black;
  margin: 5px;
}

.social-icon:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* Margins depending on screen size */
@media (max-width: 780px) {
  #logo {
    max-height: 40px;
  }
  .footer {
    text-align: center;
    align-content: center;
  }
  .calendar {
    width: 400px;
    margin: 0 auto;
  }
  .dropdown-menu {
    text-align: center;
    padding: 0.5em;
  }
  div.row {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
}

@media (min-width: 1200px) {
  .landing {
    width: 1200px;
  }
  .nav .navbar {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  .calendar {
    width: 800px;
    margin: 0 auto;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + some padding */
  margin-bottom: 80px;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.container p {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  padding: 15px;
  padding-left: 15px;
}

.navbar .navbar-collapse {
  padding-right: 15px;
}

.title {
  text-align: center;
  padding: 0px;
  margin-bottom: 2em;
}

.centered {
  text-align: center;
}
