h1 {
    margin-bottom: 1rem;

}

h4 {
    margin-top: 2rem;
}

.intro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4rem;
}

.question {
    margin-bottom: 2rem;
    border-top: 1px solid black;
}

.question p {
    margin-top: 0;
}

.slider {
    margin-top: 2.5rem;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background: #BE1E26;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background: #BE1E26;
    cursor: pointer;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.button:hover {
    background-color: #d3d3d3;
}

#submit {
    margin-left: 42%;
    margin-top: 2rem;
    padding: 10px 10px;
}

.question .col2 p {
    margin-left: 3rem;
}

.prediction {
    font-weight: bold;
}

.points {
    font-weight: bold;
}

#submission {
    text-align: center
}
