.control-panel {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  width: 20em;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 20px;
  line-height: 2;
  z-index: 1;
  background: #fff;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}