{% extends 'default.html' %}

{% block content %}
<div id="candidateviz" style=" text-align: center; ">
    <h2 class="container" style="text-align: left !important;">Democratic Primary Candidate Visualization</h2>
    <h6 class="container" style="text-align: left !important;">BUILT BY JOHN TUCKER</h6>
    <div class="container" style="text-align: left !important; margin-bottom: 2em;">
        This web app depicts the relationship between between which presidential candidates Harvard College students support, the political issues students care most about, and which issues candidates spend the most time talking about. The stacked bar chart on the left displays the proportion of students that would rank a given candidate as their first choice. The comparative bar chart on the right compares the amount of time candidates spend talking about certain political issues on their social media with which political issues Harvard College students care about most.
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 col-md-4">
                <canvas id="canvas1"></canvas>
            </div>
            <div class="col-8 col-md-8">
                <canvas id="canvas"></canvas>
                <div>
                    Select the Candidate to Compare:
                    <select id="mySelect" onchange="updateChart()">
                        <option value="Elizabeth Warren">Elizabeth Warren</option>
                        <option value="Joe Biden">Joe Biden</option>
                        <option value="Bernie Sanders">Bernie Sanders</option>
                        <option value="Kamala Harris">Kamala Harris</option>
                        <option value="Andrew Yang">Andrew Yang</option>
                        <option value="John Delaney">John Delaney</option>
                        <option value="Tulsi Gabbard">Tulsi Gabbard</option>
                        <option value="Julián Castro">Julián Castro</option>
                        <option value="Corey Booker">Corey Booker</option>
                    </select>
                    <button id="comparecandidates" type="button" class="btn btn-primary" onclick="updateChart()">Compare</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


