{% extends 'default.html' %}

{% block content %}

<div class = "container">

    <div class = "row">
        <h1>Final Exams</h1>
    </div>
    <form method = "POST">
        <div class = "row">
            <h3>What is your class year?</h3>
            <select id = "slctYear" name = "year" onchange = "toggleHouseVisibility()" required>
                <option disabled selected value></option>
                {% for year in questions.years %}
                    <option
                        {% if demographics is defined and demographics["year"] == year %}
                            selected = "selected"
                        {% endif %}
                    >{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class = "row" id = "divHouse"
        {% if demographics.year == questions.years[-2] %}
        hidden
        {% endif %}
            >
            <h3>Which house are you in?</h3>
            <select id = "slctHouse" name = "house"
            {% if demographics.year != questions.years[-2] %}
            required
            {% endif %}
            >
                <option disabled selected value></option>
                {% for house in questions.houses %}
                <option
                    {% if demographics is defined and demographics["house"] == house %}
                        selected = "selected"
                    {% endif %}
                >{{ house }}</option>

                {% endfor %}
            </select>
        </div>

        <div class = "row">
            <h3>What is your concentration (select all that apply)?</h3>
            <select id = "slctConcentration" name = "concentration" size = "10" multiple required>
                    {% for concentration in questions.concentrations %}
                    <option
                        {% if demographics is defined and concentration in demographics["concentration"] %}
                            selected = "selected"
                        {% endif %}
                    >{{ concentration }}</option>

                    {% endfor %}
            </select>
        </div>

        <br/>
        <br/>
        <div class = "row">
            <input type = "submit" value = "Save" />
        </div>
    </form>


{% endblock %}
