{% extends 'default.html' %}

{% block content %}

<form method = "POST">
    <div class = "row">
        <h3>What is your class year?</h3>
        <select id = "slctYear" name = "year" required>
            <option disabled selected value></option>
            {% for year in questions.years %}
                <option>{{ year }}</option>
            {% endfor %}
        </select>
    </div>

    <div class = "row">
        <h3>Select your classes:</h3>
        <select id = "slctClasses" name = "classes" size = "10" required multiple>
            {% for classes in questions.classes %}
            <option>{{ ethnicity }}</option>
            {% endfor %}
        </select>
    </div>

    <div class = "row">
        <h3>Which house are you in?</h3>
        <select id = "slctHouse" name = "house">
            <option disabled selected value></option>
            {% for house in questions.houses %}
            <option>{{ house }}</option>
            {% endfor %}
        </select>
    </div>

    <div class = "row">
        <h3>What is your concentration?</h3>
        <select id = "slctConcentration" name = "concentration" size = "10" required>
                {% for concentration in questions.concentrations %}
                <option>{{ concentration }}</option>
                {% endfor %}
        </select>
    </div>

    <br/>
    <br/>
    <div class = "row">
        <input type = "submit" value = "Submit" />
    </div>
</form>

{% endblock %}

{% block custom_scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    window.onload = function() {
      gapi.load('auth2', function() {
        console.log("loading!");
        gapi.auth2.init();
      });
    }
</script>
{% endblock custom_scripts %}
