{% extends 'default.html' %}

{% block content %}
<div id = "menu_visualization">
    <h1>Harvard HUDS Menu Record</h1>
    <h4><a href = "https://docs.google.com/spreadsheets/d/1S3vFDul1PeB84Zd8G5ewe1ocZ6ezidQzAp5gn1eiHtQ/edit#gid=0" target="_blank">Full Dataset</a></h4>
	<p>(Starts on 11/10/2018)</p>
	<form action="">
		Pick a date
		<input type="date" name="date" id="date" onclick = "" min="2018-11-10">
		<button type="button" onclick = "loadDoc()">Search</button>
		<label>Breakfast<input type = "radio" name = "radio" id = "Breakfast" onclick = "loadDoc('Breakfast')"/></label>
		<label>Lunch<input type = "radio" name = "radio" id = "Lunch" onclick = "loadDoc('Lunch')"/></label>
		<label>Dinner<input type = "radio" name = "radio" id = "Dinner" onclick = "loadDoc('Dinner')"/></label>
	</form>
	<table class="table" id="itemsTable"></table>
</div>

{% endblock %}
