{% extends 'default.html' %}  

{% block custom_meta %} 
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}.apps.googleusercontent.com">
{% endblock %} 
  
{% block content %}

<div class="container">
    <h1 class="page-header centered">Sign In to Survey Group</h1>
    In order to validate that you are a Harvard College student, we require that you sign in with your @college.harvard.edu address. Google handles all of the login info and we do not see anything except for your email address and some info from google to uniquely identify you. In order to fill out the demographics, please sign in below.

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>

{% endblock %}

{% block custom_scripts %}

<script src="https://apis.google.com/js/platform.js" async defer></script>

{% endblock custom_scripts %}