{% extends 'default.html' %}  

{% block custom_meta %} 
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-hosted_domain" content="college.harvard.edu">
{% endblock %} 
  
{% block content %}

<div class="container">
    <h1 class="page-header centered">Sign In to Survey Group</h1>
    <p>Please sign in with your @college.harvard.edu email address to verify that you are a Harvard College student.</p>
    <p>Google handles all the login information. We only see your email and your
        <a href="https://github.com/HarvardOpenData/HODP-Surveys/blob/master/README.md#google-sign-in-for-identity-verification">
            unique ID.
        </a>
    </p>
    <div class="g-signin2 centered" data-onsuccess="onSignIn"></div>
</div>

{% endblock %}

{% block custom_scripts %}

<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
    function onSignIn(googleUser){
        console.log("sending user info to server");
        fetch("/auth/{{ request_url }}", {
            method : "POST",
            body : googleUser.getAuthResponse().id_token, 
        }).then(response => {
            response.text().then(responseText => {
                console.log(responseText);
                if (responseText == "SUCCESS"){
                    window.location.replace("/{{ request_url }}/");
                }
                else {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(() => {
                        alert("Couldn't authenticate... signing out")
                    });
                }
            })
        });
    }
</script>

{% endblock custom_scripts %}