{% extends 'default.html' %}  

{% block custom_meta %} 
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-hosted_domain" content="college.harvard.edu">
{% endblock %} 
  
{% block content %}

<div class="container">
    <h1 class="page-header centered">Sign In to Survey Group</h1>
    In order to validate that you are a Harvard College student, we require that you sign in with your @college.harvard.edu address. Google handles all of the login info and we do not see anything except for your email address and some info from google to uniquely identify you. In order to fill out the demographics, please sign in below.
    
    <div class="g-signin2 centered" data-onsuccess="onSignIn"></div>
</div>

{% endblock %}

{% block custom_scripts %}

<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
    function onSignIn(googleUser){
        console.log("sending user info to server");
        fetch("/auth/{{ request_url }}", {
            method : "POST",
            body : googleUser.getAuthResponse().id_token, 
        }).then(response => {
            response.text().then(responseText => {
                console.log(responseText);
                if (responseText == "SUCCESS"){
                    window.location.replace("/{{ request_url }}/");
                }
                else {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(() => {
                        alert("Couldn't authenticate... signing out")
                    });
                }
            })
        });
    }
</script>

{% endblock custom_scripts %}