{% extends 'default.html' %}

{% block content %}
<div class="container">


  <h1 class="page-title centered">Open Data Catalog</h1>

  <p class="lead">
    This is Harvard's first open data catalog, featuring <span id="catalog-count">dozens of</span> publicly-available datasets from around Harvard University – with many more to come!
  </p>

  <!-- Search box -->
  <div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
    <input type="text" id="catalog-search-text" class="form-control" placeholder="Type to search datasets">
  </div>

  <br />

  <div class="col-sm-3">
    <h3 class="page-header">Categories</h3>
    <div class="list-group" id="filter-category">
    {% for category in categories %}
      <a href="/catalog/index.html?category={{ category.slug }}" class="list-group-item" id="filter-category-{{ category.slug }}">
        <i class="fa fa-fw fa-{{ category.icon }}"></i> &nbsp; {{ category.name }}
      </a>
    {% endfor %}
    </div>
    <h3 class="page-header">File Types</h3>
    <div class="list-group" id="filter-type">
        {% for filetype in filetypes %}
          <a href="/catalog/index.html?type={{ filetype.name }}" class="list-group-item" id="filter-type-{{ filetype.name }}">
            <i class="fa fa-fw fa-{{ filetype.icon }}"></i> &nbsp; {{ filetype.name }}
          </a>
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-9">
      <div class="alert alert-danger hidden" id="catalog-error">
        No datasets found! Please try another search.
      </div>
       <div id="catalog-results">
            <!-- search results here -->
       </div>
  </div>
</div>
{% endblock %}
