{% extends 'default.html' %}

{% block content %}
    <!-- These articles are populated from the HODP Medium -->
    <div class="container-fluid" id = "landing" style="float: none; margin: 0 auto;">
        <div class="col-md-6" id = "features">
            <div class="row" id = "articles">
                {% for i, article in featured %}
                    {% if i == 0 %} <div class="col-md-12 article-container"> {% endif %}
                    {% if i > 0 %} <div class="col-md-6 article-container"> {% endif %}
                        <a id = "articlelink{{ i }}" href="{{ article.url }}" target="_blank">
                            <div class="article">
                                <img id = "articleimg{{ i }}" src="/static/img/featured/{{ article.imgsrc }}" class="img-responsive" alt="Image" style="margin-bottom: 0;"/>
                                <div class="container-fluid article-info">
                                    <h6 id = "articletags{{ i }}" class = "article-tags">{{ article.tags.upper() }}</h6>
                                    {% if i == 0 %} <h3 id = "articleheadline{{ i }}" class = "article-headline">{{ article.name }}</h2>{% endif %}
                                    {% if i > 0 %} <h4 id = "articleheadline{{ i }}" class = "article-headline">{{ article.name }}</h4>{% endif %}
                                    <p id = "articleauthor{{ i }}" class = "article-author">{{ article.authors }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6" style="padding: 1em;">
            <h2>
                Harvard Open Data Project
            </h2>
            <p>The Harvard College Open Data Project (HODP) is a student-faculty group that aims to increase transparency and solve problems on campus using public Harvard data. </p>
            <p>
            Our flagship product is Harvard’s <a href="/catalog">first open data catalog,</a> where we’ve gathered dozens of public Harvard datasets in a free repository. We’ve used data science and data visualization techniques to analyze data on campus safety, <a href="https://medium.com/harvard-open-data-project/gender-disparity-in-harvard-faculty-b253ae949a56">faculty gender disparity</a>, <a href="https://medium.com/harvard-open-data-project/you-too-could-have-won-the-dunster-uc-election-131400dce0dc">student government election turnout</a>, and <a href="https://medium.com/harvard-open-data-project/from-ec-to-tech-how-harvard-students-are-changing-concentrations-b748b55ed35b">trends in concentration popularity</a>, to name a few.
            </p>
            <p>
            HODP’s community includes over 100 undergraduates as well as several Harvard faculty: Nick Sinai, the former deputy CTO of the US and current HKS professor; Jim Waldo, the former Harvard CTO; and others.
            </p>
            <p> <a href="https://medium.com/harvard-open-data-project">Read our blog</a> for more info!
            </p>
            <h4>Join the Harvard College Open Data Project!</h4>
            <ul>
                <!-- <li>
                    Attend our open hack nights on Sundays from 6-8pm in Cabot Library basement, LL09.
                </li> -->
                <li>
                    Submit articles to <a href="https://medium.com/harvard-open-data-project">our blog</a>.
                </li>
                <li>
                    Join us on hackathons around the Boston area!
                </li>
                <li>
                    <a href="https://groups.google.com/forum/#!forum/harvard-open-data">Join our mailing list</a> for details on any of the above!
                </li>
            </ul>
        </div>
    </div>
    </div>

    <br/>

    <!-- <div class="container">
        <div class="well"><p class="lead">Interested in data science? Want to learn how FiveThirtyEight predicts elections? The Harvard College Open Data Project (HODP) has a 5-week bootcamp on data visualization, data science, and data journalism. Build projects using public Harvard data including final club finances, faculty diversity, and crime logs. Beginner and advanced tracks available. <b>Intro meeting on Wednesday 1/31, 7pm in Lamont 240.</b> Fill out the interest form at <a href="http://bit.ly/opendata18">bit.ly/opendata18</a> and see the <a href="/calendar/">calendar</a> for more info.</p>
        </div>
    </div> -->

    </div>
{% endblock %}

