{% extends 'default.html' %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/img/hodp-team-photo-19s.jpeg" class="img-responsive" width="100%">
          <div class="caption">
            <p class="text-centered">The 2019 Harvard College Open Data Project Team</p>
          </div>
        </div>
        <div class="col-md-6">
          <h2 style="margin-top: 0.2em;">
            About the Team
          </h2>
          <p>
            Founded in 2016, HODP has grown from a small team of data enthusiasts to a group of 40+ dedicated members investigating data on a variety of issues on campus. We've analyzed blocking group clustering, built a Crimson sports tracking webapp, developed an interactive crime map, and more. We’re committed to giving individuals the freedom to explore and providing them the support to do so.
          </p>
          <p>
            We’re open to people of all backgrounds and experience levels, so if you finish the bootcamp and complete the assignments you’ll become a full member of the organization. We’d love for you to join us.
          </p>
        </div>
      </div>
      
      <h2 class="centered page-header">People</h2>
      {% for group in people.groups %}
      <div class="row">
        <p class="centered group-header lead">{{group.header }}</p>
        <div class="panel-group">
          <!-- empty media element prevents rules for media:first-child from messing up first person -->
          <div class="media"></div>
          <div class="clearfix">
          {% set count = [1] %}
          {% for role in people.roles %}
            {% if role.g_id == group.id %} 
              {% for member in members %}
                {% if member.role == role.id %}
                  {% if count.append(count.pop() + 1) %}{% endif %}
                  {% include './_includes/person-card.html' %}
                  {% if count[0] % 2 == 1 %}
                    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
                  {% endif %}
                {% endif %}

              {% endfor %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}