{% extends 'default.html' %}

{% block content %}
<div class = "container">
    <h1 class="page-header centered">Thank you</h1>
    <div class = "row">
        <div class = "col-md-6">
            <h3 style = "color: #808080;">  
            The Harvard College Open Data Project thanks our sponsors for supporting our mission to increase data transparency and to create data driven analysis of Harvard issues. 
            </h3> 
        </div> 
        <div class = "col-md-6">
            <h3> Interested in becoming a sponsor?</h3>
            Check out our <a href = "/static/downloadables/sponsorship_prospectus.pdf" target="_blank">Sponsorship Prospectus</a> and send us an email at <a href = "mailto:sponsors@hodp.org">sponsors@hodp.org</a>.
        </div>
    </div>
    {% for tier in tiers %}
        <h3 class="centered page-header">{{ tier }} Sponsors</h2>
        {% set count = [1] %}
        {% for sponsor in sponsors %}
            {% if sponsor.tier == tier %}
                {% if count.append(count.pop() + 1) %}{% endif %}
                {% include './_includes/sponsor-card.html' %}
                {% if count[0] % 2 == 1 %}
                    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
    {% endfor %}
    </div>
</div>
{% endblock %}