---
title: Become a Sponsor
layout: default
permalink: /sponsors/form
---
<div class="container">
    <h1 class="page-header centered">Become a Sponsor</h1>

    <div class="row">
      <div class="col-md-12">
        <p>
          Interested in partnering with the Harvard College Open Data Project? 
          <br />
          Please fill out the information below and we will reach out to you as soon as possible with further information. Thank you!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form method="post" class="form-horizontal" action="https://formspree.io/harvardopendataproject@gmail.com">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="name">Name *</label>
              <input type="text" class="form-control" id="name" name="name" required>
        </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="email">Email *</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="sponsor-org">Organization *</label>
              <input type="text" class="form-control" id="sponsor-org" name="sponsor-org" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="sponsor-comments">Comments (Optional)</label>
              <textarea class = "form-control" id ="sponsor-comments" name="sponsor-comments"></textarea>
            </div>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

</div>
